debug=false
# syslog=true

[ldap]
  enabled = true
  listen = "0.0.0.0:3893"

[ldaps]
  enabled = true
  listen = "0.0.0.0:3894"
  cert = "/tls/fullchain1.pem"
  key = "/tls/privkey1.pem"

[backend]
  # The data store
  datastore = "config"
  baseDN = "{{ lab.ldap.baseDN }}"

[api]
  # Optional REST API
  enabled = false
  tls = true
  listen = "0.0.0.0:5555"
  cert = "/tls/fullchain1.pem"
  key = "/tls/privkey1.pem"


{% for _group in lab.ldap.groups %}
[[groups]]
{% for key, value in _group.items() %}
  {{ key }} = {% if value is number %}{{ value }}{% else %}"{{ value }}"{% endif %}{{""}}
{% endfor %}

{% endfor %}

{% for _user in lab.ldap.users %}
[[users]]
{% for key, value in _user.items() %}
  {{ key }} = {% if value is number %}{{ value }}{% else %}"{{ value }}"{% endif %}{{""}}
{% endfor %}

{% endfor %}
